@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
$color_1: initial;
$color_2: #fff;
$color_3: inherit;
$color_4: #333136;
$color_5: #ffffff;
$font-family_1: "Jost", sans-serif;
$font-family_2: Jost;
$background-color_1: var(--peach);
$background-color_2: black;
$background-color_3: #000;
$background-color_4: #ffad9b;